*.png filter=lfs diff=lfs merge=lfs -text
Sunset filter=lfs diff=lfs merge=lfs -text
Equirect.png filter=lfs diff=lfs merge=lfs -text
simulation/botFactory/Assets/AllSkyFree/Cold filter=lfs diff=lfs merge=lfs -text
Sunset/Cold filter=lfs diff=lfs merge=lfs -text
simulation/botFactory/Assets/AllSkyFree/Cold[[:space:]]Sunset/Cold[[:space:]]Sunset[[:space:]]Equirect.png filter=lfs diff=lfs merge=lfs -text
